@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
  font-family: 'Righteous', Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background:black;
  min-height: 100vh;
  min-width: 100vw;
}

.metronome-container {
  width: 25vw;
  height: 32vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.text {
  color: white;
}

.on-button {
  background: rgb(49, 48, 48);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17vw;
  height: 17vw;
  font-size: 10vw;
  font-weight: 100;
  color: grey;
  border: 1.5vw solid grey;
  border-radius: 999em;
  transition: all 0.2s;
}

.switched-on {
  border-color: rgb(0, 128, 255);
  color: rgb(0, 128, 255);
  transition: all 0.2s;
}

.invalid {
  border-color: rgb(181, 17, 17);
  color: rgb(181, 17, 17);
  transition: all 0.1s;
}

.on-button.switched-on:hover {
  background:rgb(35, 34, 34);
  border-color: rgb(0, 128, 255);
  color: rgb(0, 128, 255);
  transition: all 0.2s;
}

.on-button:hover {
  background:rgb(35, 34, 34);
  transition: all 0.2s;
}

.on-button:active {
  color: grey;
  border: 1.5vw solid grey;
  transition: all 0.2s;
}

.tempo {
  width: 10vw;
  text-align: center;
  font-size: 50px;
  background: black;
  color: white;
  border: none;
  border-bottom: 2px solid white;
  box-shadow: none;
}

.tempo-field {
  margin: 3vw 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20vw
}

.bpm {
  color: white;
  font-size: 50px;
}
